.index > div {
	margin-bottom: 10px;
}
.index .card {
	color: #333;
	overflow: hidden;
	height: 80px;
	text-align: center;
	margin-top: 25px;

	padding: 0;

	background-position: 50% 0%;
	border: solid 1px #ddd;
	border-bottom: solid 1px #ccc;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;

}

.index .card > div {
	height:120px;
	margin-top: 0;
	padding-top: 24px;
	-webkit-transition: margin-top 0.5s; /* Chrome, Safari, Opera */
	transition: margin-top 0.5s;
}

.index .card > div:hover {
	margin-top: -25px;
}

.index h3 {
	margin: 0;
	font-weight: 400;
	position: relative;
	margin-top: -24px;
}

.index .card p {
	font-size: 12px;
}
