/* Space out content a bit */
body {
  padding-top: 5px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /* max-width: 730px; */
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.report-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.report-header  .lead {
margin-bottom: 5px;
font-size: 12px;
font-weight: 300;
line-height: 1;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
}

.tab-pane {
  margin: 10px 0;
}

.tabs-main .nav-tabs > li > a {
  padding: 8px 15px;
}

.tabs-main .nav-tabs > li.active {
  border-bottom: 4px solid white;
  box-sizing: border-box;
}

.report-tabs .btn-group {
  box-shadow: none;
  margin: 2px 1px;
}

.report-tabs .btn-group:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}

.report-tabs .btn {
  margin: 2px 1px 0 0;
}

.editable-click, a.editable-click {
  text-decoration: none;
  color: inherit;
  border-bottom: 0;
}

.editable-textarea, .editable-text,
.editable-controls,
.report-tabs .editable-input,
.report-header .editable-input {
  width: 100%;
}

.report-tabs textarea.editable-input.editable-has-buttons,
.report-tabs .CodeMirror {
  min-height: 800px;
}
