
<div class="report-header form-group-lg">
  <h3><a href="#" editable-text="main.name">{{ main.name || 'name' }}</a></h3>
  <p class="lead">
    <a href="#" editable-textarea="main.description">{{ main.description || 'description' }}</a>
  </p>
</div>

<div class="row container-fluid report-tabs">

  <div class="pull-right">

    <button class="btn btn-primary" ng-click="main.refresh()">
      <i class="glyphicon glyphicon-play"></i> Refresh result
    </button>

    <button class="btn btn-primary" svg-download="{{main.hasSvg}}" title="mysvg" ng-show="main.hasSvg">
      Download svg
    </button>

  </div>


  <tabset>
    <tab id="result" heading="Result" select="main.refreshTabs()" active="main.showResult">
      <div class="col-xs-12" ng-bind-html-template="main.view" has-svg="main.hasSvg">
      </div>
    </tab>
    <tab heading="{{name}}" select="main.refreshTabs()" ng-repeat="(name, file) in files" ng-if="file.show !== false">
      <div class="col-xs-12">
        <div class="code-mirror"
        ng-model="file.text"
        ui-refresh="main.uid"
        ui-codemirror="{
          lineNumbers: true,
          lineWrapping : true,
          mode: 'htmlmixed'
        }"></div>
      </div>
    </tab>
  </tabset>

</div>
