
<div class="report-header form-group-lg list-group">
  <div class="list-group-item">

    <div class="row-action-primary">
      <i class="mdi-editor-insert-chart"></i>
    </div>

    <div class="row-content">
      <h3 class="list-group-item-heading"><a href="#" editable-text="main.name">{{ main.name || 'name' }}</a></h3>
      <p class="lead">
        <a href="#" editable-textarea="main.description">{{ main.description || 'description' }}</a>
      </p>
    </div>

  </div>

</div>

<div class="row container-fluid report-tabs">

  <div class="pull-right">

    <button class="btn btn-primary btn-sm" ng-click="main.refresh()" ng-disabled="!main.isDirty">
      <i class="glyphicon glyphicon-play" ></i> Refresh result
    </button>

    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-disabled="main.svgs.length === 0">
        Download SVG <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href svg-download="#{{svg.id}}" title="{{svg.title}}" ng-repeat="svg in main.svgs">{{svg.title}}</a></li>
      </ul>
    </div>

  </div>

  <tabset class="tabs-main">
    <tab heading="Result" select="main.refreshTabs()" active="main.showResult" >
      <div id="result" class="col-xs-12" ng-class="{ dirty: main.isDirty }" report-include files="main.files" refresh="main.ruid" get-svgs="main.svgs">
      </div>
    </tab>
    <tab heading="{{name}}" select="main.refreshTabs()" ng-repeat="(name, file) in main.files" ng-if="file.show !== false">
      <div class="col-xs-12">
        <div class="code-mirror"
        ng-model="file.content"
        ng-change="main.makeDirty()"
        ui-refresh="main.uid"
        ui-codemirror="{
          lineNumbers: true,
          lineWrapping : true,
          mode: 'htmlmixed'
        }"></div>
      </div>
    </tab>
  </tabset>

</div>
